* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffffc1;
    color: #333;
    
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

nav a:hover {
    color: #FFD700;
}

/* Title Section */
.title {
    text-align: center;
    padding: 40px 20px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.row body {
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
  }
  .row img {
    max-width: 100%;
    height: auto;
  }

